<?xml version="1.0"?>
<configuration>
  <configSections>
  <section name="microsoft.identityModel"
    type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <system.webServer>
    <modules>
      <add name="SessionAuthenticationModule"
        type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <!-- 
      Auth0 configuration 
    -->
    <add key="auth0:Domain" value="auth0:domain"/>
    <add key="auth0:ClientId" value="auth0:client_id"/>
    <add key="auth0:ClientSecret" value="auth0:client_secret"/>
    
  </appSettings>

  <microsoft.identityModel>
    <service>
      <securityTokenHandlers>
        <remove type="Microsoft.IdentityModel.Tokens.SessionSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add type="Auth0.AspNet.MachineKeySessionSecurityTokenHandler, Auth0.AspNet"/>
        <!-- TODO: The MachineKeySessionSecurityTokenHandler makes use of the machine key. Please configure that from system.web/machineKey -->
      </securityTokenHandlers>
    </service>
  </microsoft.identityModel>
 </configuration>